@charset "utf-8";

/*  */

body {
  background-color: rgb(205, 255, 203);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(5, 49, 3);
}

h1#principal {
  color: white;
  text-align: center;
  background-color: seagreen;
}

h2 {
  color: rgb(0, 255, 98);
}

.basico {
  color: rgb(0, 255, 98);
}

.intermediario {
  color: rgb(251, 255, 1);
}

.avancado {
  color: rgb(255, 0, 0);
}